<div class="popup__wrap" data-test-window>
    <div class="popup">
        <div class="popup__form border__effect is-active">
            <div class="popup__inner">
                <button class="popup__close">
                    <i class="icon_close_svg">
                        <svg viewBox="0 0 24 24" height="100%" class="close_icon" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="m0,4l4,-4l8,8l8,-8l4,4l-8,8l8,8l-4,4l-8,-8l-8,8l-4,-4l8,-8l-8,-8z"/>
                        </svg>
                    </i>
                </button>
				
            </div>
        </div>
        <div class="popup__success border__effect">
            <div class="popup__inner">
                <button class="popup__close">
                    <i class="icon_close_svg">
                        <svg viewBox="0 0 24 24" height="100%" class="close_icon" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="m0,4l4,-4l8,8l8,-8l4,4l-8,8l8,8l-4,4l-8,-8l-8,8l-4,-4l8,-8l-8,-8z"/>
                        </svg>
                    </i>
                </button>
                <div class="form">
                    <div class="title__form">Благодарим вас за проделанную работу!</div>
                    <p>Ваш успешно записались на собеседование. Мы свяжемся с вами в ближайшее время!</p>
                    <a href="/" class="popup__close"><span>На главную</span></a>
                </div>
            </div>
        </div>
    </div>
</div>