@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
}
* {
	margin: 0;
}
*, *::after, *::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a[data-href] {
	cursor: pointer;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
button {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
svg:not(:root) {
	display: block;
	overflow: visible;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$white: #fff;
$blue: #003e7e;
$hover: #0b549e;
$active: #012e5b;
$float: #f4f8fc;
$claret: #ab1128;
$red: #e51836;
$grey: #3c454e;
$yellow: #fec601;
$yellow2: #fecc1a;
$yellow3: #ffdc5e;
$yellow4: #e7b70e;
$textblue: #3b4b5b;
$blueGrey: #416d98;
$headbox: #ff7287;
$black: #000000;
$pink: #e51836;
$pink-hover: #cd1530;
$pink-active: #ab1128;
$table-border: #e9e9e9;
$text-admin: #3c3d41;
body {
	background: #f2f2f2;
}
.wrapper {
	width: 100%;
	@include clearfix;
}
.container {
	max-width: 1157px;
	margin: 0 auto;
}
.ui-tooltip {
	padding: 4px 7px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	box-shadow: 1px 1.732px 10px 0px rgba( 35, 38, 39, 0.14);
}
.ui-widget-content {
	background: #fff;
	color: $text-admin;
}
.inner-row {
	width: 1157px;
	height: 100%;
	margin: 0 auto;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.btn-ico {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	transition: fill 0.3s ease;
	&:hover {
		span {
			use {
				fill: $blue;
			}
		}
	}
	&.btn-preview {
		span {
			svg {
				width: 22px;
				height: 22px;
				margin: 14px auto;
			}
		}
	}
	span {
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	    text-align: center;
	    svg {
	    	width: 14px;
	    	height: 14px;
	    	margin: 17.5px auto;
	    }
	    use {
	    	fill: #a9a9a9;
	    }
	}
}
.inline-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.btn {
		min-width: 100px;
		display: inline-block;
	    padding: 9px 12px;
	    margin-bottom: 0;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    touch-action: manipulation;
	    cursor: pointer;
	    user-select: none;
	    border: 1px solid #ddd;
	    border-radius: 5px;
	    background: #fff;
	    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
	    &:hover {
	    	background: $hover;
	    	border-color: $hover;
	    	color: #fff;
	    }
	    &:active {
	    	background: $active;
	    	border-color: $active;
	    	color: #fff;
	    }
	    &.active-btn-inline {
	    	background: $blue;
	    	border-color: $blue;
	    	color: #fff;
	    }
	}
	& > .btn {
		position: relative;
		float: left;
		&:first-child:not(:last-child) {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		}
	}
	& > .btn:last-child:not(:first-child) {
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}
	.btn+.btn {
		margin-left: -1px;
	}
	& > .btn:not(:first-child):not(:last-child) {
	    border-radius: 0;
	}
}
.tools-list {
	visibility: hidden;
	opacity: 0;
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	font-size: 0;
	top: 50%;
	right: 0;
	transition: visibility 0.3s ease, opacity 0.3s ease;
	transform: translate3d(0, -50%, 0);
}
.btn-type1,
.btn-type2 {
	min-width: 140px;
	border-radius: 20px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    height: 34px;
    transition: background 0.3s ease, color 0.3s ease;
}
.btn-type1 {
	border: 1px solid #ddd;
	color: #3c3d41;
	&:hover {
		background: $blue;
		color: #fff;
	}
}
.btn-type2 {
	background: $blue;
	color: #fff;
	&:hover {
		background: $hover;
	}
}
.btn-with-ico {
	border-color: $blue;
	color: $blue;
	&:hover {
		.icon {
			use {
				fill: #fff;
			}
		}
	}
	.icon {
		display: inline-block;
		margin-right: 10px;
		svg {
			height: 15px;
			width: 15px;
			margin-bottom: -4px;
		}
		use {
			transition: fill 0.3s ease;
			fill: $blue;
		}
	}
	&.btn-type2 {
		color: #fff;
		use {
			fill: #fff;
		}
	}
}
.searcher {
	input[type="text"] {
		width: 309px;
		height: 34px;
		border: 1px solid #ddd;
		border-radius: 20px;
		color: #3c3d41;
		box-shadow: inset 0 3px 7px rgba(35, 38, 39, 0.1);
		background: #fff;
		padding: 0 20px 0 36px;
		&:-ms-input-placeholder,
		&::-moz-placeholder,
		&::-webkit-input-placeholder {
			color: #c3c3c3;
		}
	}
	span{
		position: relative;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 20px;
			height: 20px;
			top: 50%;
			left: 12px;
			transform: translate3d(0, -50%, 0);
			background: url('../img/svg/search-admin.svg') 0 0 no-repeat;
			background-size: contain;
		}
	}
}
.subtools {
	width: 100%;
	height: 76px;
	padding: 21px 0;
	@include clearfix;
	& > div {
		margin-right: 18px;
		float: left;
		vertical-align: middle;
		&:last-of-type {
			margin-right: 0;
			&:not(nth-of-type(2)) {
				&.searcher {
					float: right;
				}
			}
			&.active-block {
				float: right;
			}
		}
	}
}
.content {
	padding-bottom: 40px;
	display: none;
	&.active {
		display: block;
	}
	table {
		width: 100%;
		background: #fff;
		margin-bottom: 40px;
		border-collapse: collapse;
		tr:not(.header):hover {
			background: #f2f2f2;
		}
		tr {
			&:hover {
				.tools-list {
					visibility: visible;
					opacity: 1;
				}
			}
			td:nth-of-type(2) {
				position: relative;
			}
			td {
				&:first-of-type {
					position: relative;
					.remove {
						left: 6px;
					}
				}
			}
			th {
				position: relative;
				.remove {
					background: #c2c7cd;
					use {
						fill: #dbe3eb !important;
					}
				}
			}
		}
	}
	.searcher + .select-group {
		.ui-widget {
			min-width: 230px;
		}
	}
	.sidebar {
		float: left;
		width: 165px;
		background: #fff;
		.sidebar-menu {
			display: block;
			ul > li {
				height: 48px;
				border-bottom: 1px solid #dbe3eb;
				&:last-of-type {
					border-bottom: none;
				}
				a {
					color: #000;
					display: block;
					line-height: 48px;
					text-align: center;
					transition: background 0.3s ease, color 0.3s ease;
					&.active-filter {
						background: $blue;
						color: #fff;
					}
				}
			}
		}
	}
	.age {
		width: 14px;
		height: 14px;
		position: absolute;
		left: -6px;
		top: 50%;
		margin-top: -7px;
		vertical-align: middle;
	    text-align: center;
	    svg {
	    	width: 14px;
	    	height: 14px;
	    }
	    use {
	    	fill: #a9a9a9;
	    }
	}
	table.write-interview {
		tr.header {
			height: 46px;
			background: #dbe3eb;
			color: $text-admin;
			svg {
				height: 16px;
			}
			use {
				fill: $text-admin;
			}
		}
		tr {
			height: 84px;
			&:not(.header) {
				border-bottom: 1px solid #ddd;
			}
			&:nth-of-type(2) {
				height: 90px;
				padding-top: 6px;
			}
			td, th {
				padding: 0;
				&:first-of-type {
					padding-left: 30px;
				}
				&:nth-child(1),
				&:nth-child(1) {
					color: $text-admin;
					width: 111px;
				}
			}
			th {
				padding-left: 30px;
			}
		}
	}
	table.report,
	table.setting {
		&.list-interview {
			tr {
				th,
				td {
					&:first-of-type {
						padding-left: 48px;
					}
					&:nth-of-type(3):not(:last-of-type) {
						padding-right: 68px;
					}
					.age {
						left: 17px;
					}
					&.data-cell {
						width: 173px;
					}
					&:last-of-type:not(:nth-of-type(2)):not(:first-of-type) {
						width: 233px;
					}
				}
			}
		}
		tr {
			border-bottom: 1px solid #ddd;
			height: 60px;
			&.header {
				height: 52px;
				a {
					color: $blue;
				}
			}
			td, th {
				text-align: left;
				&:nth-of-type(n+2):not(:last-of-type) {
					padding-right: 20px;
				}
				&:first-of-type {
					width: 71px;
					position: relative;
				}
				&:nth-of-type(2) {
					padding-left: 26px;
				}
				&:last-of-type {
					&:not(:nth-of-type(2)) {
						width: 569px;
					}
				}
			}
			td {
				a:not(.btn):not(.aria) {
					color: $blue;
				}
				&:last-of-type {
					position: relative;
					padding-right: 50px;
					.btn-type1 {
						float: right;
					}
				}
				color: #000;
			}
		}
		&.report-archive {
			tr {
				td, th {
					&:nth-of-type(2) {
						width: 414px;
					}
					&:last-of-type {
						width: 339px;
						padding-right: 150px;
					}
				}
			}
		}
	}
	table.setting {
		float: right;
		width: 976px;
		&.comments {
			tr {
				td, th {
					&:last-of-type {
						width: 290px;
					}
				}
			}
		}
		tr {
			td, th {
				&:nth-of-type(2) {
					padding-left: 0;
				}
			}
		}
	}
	.sort-tool-table {
		th:not(.check-elem) {
			.arrow-sort {
				display: inline-block;
				svg {
					height: 15px;
					width: 15px;
					margin-bottom: -4px;
				}
				use {
					fill: $blue;
				}
			}
		}
	}
}
input[type="checkbox"] {
	position: absolute;
    left: 50%;
    top: 50%;
	transform: translate3d(-50%, -50%, 0);
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: none;
    border: none;
    z-index: 2;
    & + label {
    	display: block;
    	position: relative;
    	width: 16px;
    	height: 16px;
    	margin: 0 auto;
    }
    & + label:focus,
    & + label:active {
		outline: none;
		border: none;
    }
    & + label:before,
    & + label:after {
    	content: '';
	    position: absolute;
	    left: 0;
	    top: 50%;
	    width: 16px;
	    height: 16px;
	    margin-top: -8px; 
	    animation: cd-bounce 0.3s;
    }
    & + label:before {
		display: block;
		border: 1px solid #ddd;
		box-shadow: inset 0 3px 7px rgba(35, 38, 39, 0.1);
    }
    & + label:after {
		background-image: url('../img/svg/check.svg');
	    background-position: center center;
	    background-repeat: no-repeat;
	    display: none;
    }
	&:checked + label:after {
		display: block;
	}
}
.is-deactive {
	opacity: 0.5;
}
.time-list {
	padding: 0;
	font-size: 0;
	&.is-deactive {
		opacity: 0.5;
	}
	& > li {
		position: relative;
		font-size: 18px;
		width: 64px;
		height: 42px;
		padding: 0 22px;
		display: inline-block;
		&:hover {
			.minute {
				color: $blue;
			}
		}
		a {
			line-height: 42px;
		}
	}
	.minute {
		color: $text-admin;
	}
	.count {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background: #1ab316;
		color: #fff;
		&.is-max {
			background: #ff5454;
		}
	}
}
.row {
	width: 100%;
	height: 71px;
	padding: 0 64px;
	@include clearfix;
	&.general {
		background: $yellow;
		.tabs-menu,
		.logo,
		.user-profile,
		.user-exit {
			height: 100%;
			float: left;
		}
		.user-profile,
		.user-exit {
			float: right;
		}
		.logo {
			z-index: 8;
			display: table;
			.fill {
				fill: $blue;
			}
			svg {
				height: 100%;
			}
			a {
				display: table-cell;
				vertical-align: middle;
				width: 176px;
				height: 48px;
			}
		}
		nav.tabs-menu {
			padding: 0 44px;
			ul {
				height: 100%;
				white-space: nowrap;
				font-size: 0;
				& > li {
					display: inline-block;
					padding-right: 42px;
					&:last-of-type {
						padding-right: 0;
					}
					a {
						color: #000;
						display: inline-block;
						line-height: 3.9445;
						&.is-active-tab {
							position: relative;
							&:after {
								content: '';
								width: 100%;
								height: 3px;
								background: $blue;
								position: absolute;
								bottom: 0;
								left: 0;
							}
						}
					}
				}
			}
		}
		.user-profile {
			a {
				display: table;
				width: 100%;
				height: 100%;
			}
			.user-avatar {
				width: 25px;
				height: 22px;
				display: table-cell;
				vertical-align: middle;
				padding-right: 9px;
				use {
					fill: $blue;
				}
			}
			.user-name {
				display: table-cell;
				vertical-align: middle;
				color: $blue;
			}
		}
		.user-exit {
			width: 48px;
			padding-left: 32px;
			display: table;
			.btn-exit {
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				use {
					fill: $blue;
				}
			}
		}
	}
	&.tools {
		background: #fff;
		nav.tabs-category-menu {
			float: left;
		}
		nav.tabs-tools {
			float: right;
			height: 100;
			ul {
				height: 100%;
				white-space: nowrap;
				font-size: 0;
				& > li {
					display: inline-block;
					a {
						display: table;
						width: 78px;
						height: 71px;
					}
					svg {
						margin: 0 auto;
						width: 22px;
					}
					span {
					    display: table-cell;
					    vertical-align: middle;
					    text-align: center;
					    use {
					    	fill: $blue;
					    }
					}
					&.active a {
						background: #f2f2f2;
					}
				}
			}
		}
	}
}
nav.tabs-category-menu {
	display: table;
	height: 100%;
	ul {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		white-space: nowrap;
		font-size: 0;
		& > li {
			display: inline-block;
			padding-right: 11px;
			&:last-of-type {
				padding: 0;
			}
			a {
				color: #000;
				padding: 0 17px;
				display: inline-block;
				line-height: 2.375;
			}
			&.active a {
				border-radius: 20px;
				border: 1px solid #ddd;
			}
		}
	}
}
.title-form {
	& + .tabs-category-menu {
		margin-bottom: 34px;
		width: 100%;
		padding: 0 78px;
	}
}
.card-interview {
	display: table;
	width: 100%;
	&:not(:last-of-type):not(:first-of-type) {
		margin-bottom: 27px;
	}
	.header {
		width: 100%;
		height: 47px;
		background: #dbe3eb;
		display: table-row;
		vertical-align: middle;
		color: $grey;
		span {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.row-card {
		height: 84px;
		border-bottom: 1px solid #ddd;
		background: #fff;
		&:nth-of-type(2) {
			height: 90px;
			padding-top: 6px;
		}
		.column {
			float: left;
			padding: 0;
		}
		.left-side {
			float: left;
			color: $grey;
			display: table-cell;
			text-align: right;
			height: 100%;
			width: 81px;
			padding-right: 25px;
			span {
				vertical-align: top;
				display: inline-block;
				line-height: 1.75;
			}
		}
		.right-side {
			width: 208px;
			display: table-cell;
			height: 100%;
			float: right;
		}
		.time-list {
			& > li {
				display: inline-block;
			}
		}
	}
}
.select-group-geo {
	.ui-selectmenu-button span.ui-selectmenu-text {
		padding-left: 30px;
		&:before {
			content: '';
			position: absolute;
			display: block;
			background: url('../img/svg/markerblack.svg') 0 0 no-repeat;
			background-size: cover;
			top: 50%;
			left: 12px;
			margin-top: -7px;
			width: 10px;
			height: 14px;
		}
	}
}
.ui-selectmenu-button {
	min-width: 220px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #3c3d41;
    box-shadow: inset 0 3px 7px rgba(#000, 0.1);
    background: #fff;
    &:focus {
    	outline: none;
    }
    &[aria-expanded="true"] {
    	span.ui-icon {
    		transform: rotate(180deg);
        	transform-origin: 50% 50%;
    	}
    }
    span.ui-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        background: url('../img/svg/down.svg') 0 0 no-repeat;
        width: 12px;
        height: 7px;
        margin-top: -3.5px;
        background-size: contain;
        transition: transform 0.3s ease;
    }
    span.ui-selectmenu-text {
    	height: 32px;
        text-align: left;
        padding: 9px 30px 9px 15px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
    .ui-menu {
    	padding: 13px 30px;
    	box-shadow: 1px 1.73px 10px 0 rgba(35,38,39,.14);
        overflow: auto;
        overflow-x: hidden;;
        margin: 7px 0;
        display: block;
        outline: 0;
        .ui-menu-item {
        	line-height: 28px;
            position: relative;
            margin: 0;
            padding: 0;
            cursor: pointer;
            min-height: 0;
        }
    }
    .ui-select-item {
    	&:before {
    		content: '';
    		position: absolute;
    		display: block;
    		background: url('../img/svg/check.svg') 0 0 no-repeat;
    		background-size: cover;
    		top: 50%;
    		right: -19px;
    		margin-top: -10px;
    		width: 20px;
    		height: 20px;
    	}
    }
}
.ui-selectmenu-open {
    display: block;
}
.header .tools,
.subtools {
	.active-block {
		height: 100%;
		display: table;
		float: right;
		@include clearfix;
		.btn-setting  {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.guid {
	.btn-with-ico {
		svg {
			margin-bottom: -2.4px;
		}
		&:hover {
			.icon {
				use {
					fill: $blue;
				}
			}
		}
	}
}
.btn-delete {
	border-color: $red;
	color: $red;
	&:hover {
		border-color: $red;
		background: $red;
		color: #fff;
	}
}
.active-block .btn-with-ico {
	&:not([class*="btn-type"]) {
		display: table-cell;
		vertical-align: middle;
		&:hover {
			.icon {
				use {
					fill: $hover;
				}
			}
			color: $hover;
		}
		&.btn-edite {
			& + .dropdown-menu {
				width: 240px;
			}
		}
	}
}
.btn-type1.btn-with-ico {
	&:hover {
		.icon {
			use {
				fill: #fff;
			}
		}
	}
	svg {
		width: 15px;
		height: 15px;
		margin-bottom: -3.4px;
	}
	&.btn-save {
		border-color: #ddd;
		color: $grey;
		&:hover {
			border-color: $blue;
			color: #fff;
		}
		use {
			fill: $grey;
		}
		svg {
			width: 12px;
			height: 12px;
			margin-bottom: -2.4px;
		}
	}
}
.page-group {
	width: 100%;
	height: 59px;
	padding-right: 20px;
	background: #fff;
	clear: both;
	.page-list {
		float: left;
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
		font-size: 0;
		.btn {
			min-width: 61px;
			height: 100%;
			display: inline-block;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    touch-action: manipulation;
		    cursor: pointer;
		    border-left: 1px solid #ddd;
		    background: #fff;
		    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
		    &.btn-prev-page,
		    &.btn-next-page {
		    	span {
			    	display: table;
			    	width: 100%;
			    	svg {
			    		transition: fill 0.3s ease;
			    		margin-left: 22.5px;
			    		width: 14px;
			    		height: 14px;
						display: table-cell;
						vertical-align: middle;
			    	}
			    }
		    }
		    
		    &:hover {
		    	background: $hover;
		    	border-color: $hover;
		    	color: #fff;
		    	use {
		    		fill: #fff;
		    	}
		    }
		    &:active {
		    	background: $active;
		    	border-color: $active;
		    	color: #fff;
		    	use {
		    		fill: #fff;
		    	}
		    }
		    &.active-btn-page {
		    	background: $blue;
		    	border-color: $blue;
		    	color: #fff;
		    	use {
		    		fill: #fff;
		    	}
		    }
		}
		& > .btn:first-of-type:not(:last-of-type) {
	    	border: none;
	    }
	    & > .btn:last-of-type:not(:first-of-type) {
	    	 border-right: 1px solid #ddd;
	    }
		.btn + .btn {
			margin-left: -1px;
		}
	}
	.show-to {
		float: right;
		height: 100%;
		position: relative;
		display: table;
		.select-page {
			display: table-cell;
			vertical-align: middle;
			& > span {
				display: inline-block;
				vertical-align: middle;
				&:first-of-type:not(:last-of-type) {
					margin-right: 16px;
				}
			}
		}
		.ui-selectmenu-button {
			min-width: 70px;
		}
		.ui-selectmenu-button {
			&[aria-expanded=true] {
				span.ui-icon {
					transform: scale(0.9);
				}
			}
			span.ui-icon{
				width: 6px;
				height: 14px;
				margin-top: -7px;
				background: url('../img/svg/arrow-doubl.svg') 0 0 no-repeat;
			}
		} 
	}
}
.content {
	.container {
		& >.row {
			height: auto;
			padding: 0 22px;
			margin-bottom: 15px;
		}
		min-height: 290px;
		background: #fff;
	}
	& > .title {
		width: 100%;
		height: 76px;
		line-height: 76px;
	}
}
.guid {
	float: left;
	max-width: 470px;
	padding-left: 22px;
	& > li {
		margin-bottom: 16px;
	}
}
.active-field {
	width: 550px;
	margin-right: 71px;
	float: right;
	border: 1px dashed #ddd;
	border-radius: 5px;
	padding: 25px 20px;
	background: #fff;
	transition: border-color 0.3s ease, background 0.3s ease;
	@include clearfix;
	.block {
		max-height: 34px;
	}
	&.changed {
		border-color: #1ab316;
		background: rgba(#1ab316, 0.1);
		.file-upload-button {
			background: #fff;
			&:hover {
				background: $blue;
			}
		}
	}
	.file-upload-wrapper {
		display: inline-block;
		color: $text-admin;
		@include clearfix;
	}
	.file-upload-button {
		margin-right: 20px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
	.file-upload-input {
		display: table;
		height: 34px;
		span {
			color: #787878;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.file-upload-input,
	.file-upload-button {
		float: right;
	}
	.btn:not(.file-upload-button) {
		float: right;
	}
}
.popup {
	&:focus {
		outline: none;
	}
	.popup-inner {
		vertical-align: middle;
		.form {
			position: relative;
			width: 1280px;
			margin: 0 auto;
			.row:first-of-type:last-of-type {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				width: 1280px;
				.info {
					margin-right: 30px;
				}
				a + a {
					margin-left: 20px;
				}
			}		
		}
		.popup-close {
			cursor: pointer;
			width: 25px;
			height: 25px; 
			top: -10px;
			right: 64px;
			position: absolute;
			z-index: 5;
			border: 1px solid #ddd;
			border-radius: 50%;
		}
		.icon_close_svg {
			width: 6px;
			height: 6px;
			margin-top: -2px;
			display: inline-block;
			vertical-align: middle;
			.close_icon {
				width: 6px;
				height: 6px;
				fill: $grey;
				transition: fill 0.3s ease;
			}
		}
	}
}
.popup-form {
	display: none;
	position: fixed;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 99;
	padding: 1.25em;
	text-align: center;
	perspective: 600px;
	perspective-origin: 50% 50%;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;
	}
	&.in {
		.popup-wrapper {
			opacity: 1;
			transform: scale(1);
		}
	}
	&.out {
		.popup-wrapper {
			opacity: 0;
			transform: scale(0.7);
		}
	}
	.popup-wrapper {
		width: 663px;
		background: #fff;
		box-shadow: 0px 0px 46px 0px rgba(#000, 0.2);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin-bottom: 1.25em;
		opacity: 0;
		transform: scale(0.7);
		transform-origin: 50% 50% 0;
		transform-style: preserve-3d;
		transition: transform 0.3s ease, opacity 0.3s ease;
		.popup-close {
			top: 11px;
			right: 12px; 
		}
		.btn-type3 {
			cursor: pointer;
			width: 100%;
			height: 116px;
			background: $blue;
			color: #fff;
			transition: background 0.3s ease, color 0.3s ease;
			&:hover {
				background: $hover;
			}
			&:active {
				background: $active;
			}
		}
		.form {
			position: relative;
			padding: 54px 0 0;
			width: auto;
			position: relative;	
			z-index: 5;
			@include clearfix;
			p {
				color: $blue;
				max-width: 480px;
				margin: 0 auto 36px; // 36px / 16px = 2.25em
				line-height: 1.6;
			}
			.help-block {
				display: none!important;
			}
			.title__lvl-2 {
				color: #000;
				margin: 34px 0 22px;
			}
			.row.btn-fullwidth {
				padding: 0;
				margin-top: 52px;
			}
			.inline-row {
				margin-bottom: 25px;
			}
			.row {
				padding: 0 78px;
				height: auto;
				width: 100%;
				text-align: center;
				@include clearfix;
				button {
					width: 100%;
				}
				[type="checkbox"] {
					left: 0;
					transform: translate3d(0, -50%, 0);
					& + label {
						float: left;
						margin: 0 10px 0 0;
						width: 20px;
						height: 20px;
						&:before,
						&:after {
							width: 20px;
							height: 20px;
						}
						& + .input__label-content {
							text-align: left;
							float: left;
							margin-top: 5px;
						}
					}
				}
				&.columns {
					.field {
						width: 49.6%;
						max-width: 236px;
						&:first-of-type {
							float: left;
						}
						&:last-of-type {
							float: right;
						}
					}
				}
				.field,
				.select {
					position: relative;
					width: 100%;
					display: inline-block;
					z-index: 1;
					vertical-align: top;
					&.has-error {
						.input__field-effect {
							background: #fff;
							border: 1px solid $red;
							color: $red;
							box-shadow: inset 0 3px 7px rgba($red, 0.1);
						} 
					}
					&.has-success {
						.input__field-effect {
							background: #fff;
							border: 1px solid $blue;
							box-shadow: inset 0 3px 7px rgba($blue, 0.1);
						}
					}
					.active-field {
						width: 100%;
						float: none;
						margin-bottom: 17px;
						padding: 14px 20px;
						.left-column {
							float: left;
							width: 198px;
							position: relative;
							.column {
								width: 70px;
								display: block;
								float: left;
								&:first-of-type {
									margin-right: 18px;
								}
							}
							.input__field {
								min-width: auto;
							}
							.select-group .ui-selectmenu-button {
								min-width: 70px;
							} 
							&:after {
								content: '—';
								display: table-cell;
								vertical-align: middle;
								text-align: center;
								position: absolute;
								top: 37px;
								right: -43px;
							}
						}
						.right-column {
							float: right;
							width: 198px;
							.column {
								width: 70px;
								display: block;
								float: left;
								&:first-of-type {
									margin-right: 18px;
								}
							}
							.input__field {
								min-width: auto;
							}
							.select-group .ui-selectmenu-button {
								min-width: 70px;
							} 
						}
						.double-column {
							width: auto;
							float: left;
							&:first-of-type {
								margin-right: 68px;
							}
						}
					}
				}
				.input__field,
				.ui-selectmenu-button {
					position: relative;
					display: block;
					float: right;
					box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
					color: #000;
					border: 1px solid transparent;
					background: #eeeeee;
					height: 46px;
					border-radius: 0;
					min-width: 236px;
					padding: 0 12px;
					width: 100%;
					margin-bottom: 17px;
					z-index: 100;
					transition: box-shadow 0.3s ease, background 0.3s ease, color 0.2s ease;
					&:focus {
						outline: none;
					}
					.ui-selectmenu-text {
						padding: 0;
						height: auto;
						line-height: 44px;
					}
				}
				&:not(.columns) {
					.ui-selectmenu-button {
						min-width: 507px;
					}
				}
				.ui-selectmenu-button {
					&:focus {
						background: #fff;
						border: 1px solid $blue;
						box-shadow: inset 0 3px 7px rgba($blue, 0.1);
					}
				}
				.input__field-effect:focus {
					background: #fff;
					border: 1px solid $blue;
					box-shadow: inset 0 3px 7px rgba($blue, 0.1);
				}
				textarea {
					&.input__field {
						min-height: 87px;
						padding-top: 5px;
						resize: vertical;
						overflow: auto;
						border: none;
						box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
						color: #000;
						background: #eeeeee;
						line-height: 20px;
						& + .input__label {
							bottom: 26px;
							&:before {
								display: none;
							}
						}
					}
				}
				.input__label {
					display: block;
					width: 100%;
					text-align: left;
					margin-bottom: 6px;
				}
				.input__label-content {
					color: #787878;
				}
			}
		}
		.title-form {
			padding: 0 78px;
			margin-bottom: 40px;
			color: #000;
		}
	}
}
.popup-tooltip {
	width: 100%;
	position: fixed;
	bottom: 0;
	min-height: 115px;
	display: none;
	.popup-wrapper {
		box-shadow: 0px 0px 46px 0px rgba(#000, 0.2);
		background: #fff;
		padding: 20px 0;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		transition: transform .3s ease-out;
		transform: translate(0, 115px);
	}
	&.edite-note {
		.popup-wrapper {
			padding: 50px 0 20px;
		}
		.form {
			.active-block {
				position: absolute;
				top: -42px;
				right: 110px;
			}
			.popup-close {
				top: -38px;
			}
			.title-tooltip {
				position: absolute;
				top: -34px;
				left: 64px;
			}
			.row {
				height: auto;
				.row-header > div {
					display: table-cell;
					vertical-align: middle;
					height: 100%;
				}
				.row-header > div:not(.email) {
					color: #000;
				}
				.name {
					width: 354px;
				}
				.groupe {
					width: 190px;
				}
				.number {
					width: 204px;
				}
				.email {
					width: 217px;
				}
				.name + .active-btn-groupe {
					width: 50px;
				}
				.email + .active-btn-groupe {
					width: 105px;
					.btn-comment {

					}
				}
				.row-footer {
					height: 38px;
					display: table;
					@include clearfix;
					span {
						display: table-cell;
						vertical-align: middle;
						height: 100%;
					}
				}
				.row-footer {
					.info {
						color: rgba(0,0,0,0.5);
						padding-right: 14px;
					}
					.value {
						color: rgba(0,0,0,0.8);
					}
				}
				.row-header {
					border-top: 1px solid #ddd;
					height: 38px;
					display: table;
					@include clearfix;
				}
				.email {
					a {
						color: $blue;
					}
				}
			}
		}
	}
	&.in .popup-wrapper {
	    transform: translate(0, 0);
	}
}
body.editer {
	.remove {
		visibility: visible;
		span {
			transform: scale(0.7);
		}
	}
}
.remove {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate3d(0,-50%,0);
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #ddd;
	opacity: 1;
	transition: opacity 0.3s ease-in;
	span {
		transform: scale(1);
		transition: transform 0.3s ease;
	}
	use {
		fill: #fff;
	}
	svg {
		width: 12px;
		height: 12px !important;
		margin-left: 3px;
		margin-top: 3px;
	}
	&:hover {
		opacity: 0.5;
	}
}
.btn-groupe {
	position: relative;
	display: inline-block;
	.btn-ico {
		z-index: 0;
	}
	.btn-add {
		& + .dropdown-menu {
			bottom: 44px;
			right: 50%;
			transform: translate3d(50%, 0, 0);
			& > li {
				&:last-of-type {
					&:after,
					&:before {
						bottom: -6px;
						right: 47%;
					}
				}	
			}
		}
	}
	.dropdown-menu {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.3s ease-in, opacity 0.3s ease;
		bottom: 55px;
		right: -20px;
		width: 210px;
		z-index: 999;
		box-shadow: 0.5px 0.866px 7px 0px rgba(0, 0, 0, 0.43);
		background: #fff;
		& > li {
			position: relative;
			display: block;
			background: #fff;
			transition: background 0.3s ease;
			&:last-of-type {
				&:after,
				&:before {
					position: absolute;
					bottom: -6px;
					right: 38px;
					width: 14px;
					height: 14px;
					background: #fff;
					box-shadow: 0.5px 0.866px 7px 0px rgba(0, 0, 0, 0.43);
					z-index: -1;
					transition: background 0.3s ease;
					transform: rotate(-45deg);
					content: '';
				}
				&:before {
					box-shadow: none;
					z-index: 1;
				}
			}	
			&:hover {
				background: #f2f2f2;
				&:before,
				&:after {
					background: #f2f2f2;
				}
			}
			a {
				display: block;
				text-align: center;
				padding: 0 20px;
				color: $grey;
				line-height: 47px;
			}
		}
	}
	&.open {
		.dropdown-menu {
			visibility: visible;
			opacity: 1;
		}
	}
}
.form-wrap {
	display: none;
	&.active {
		display: block;
	}
}
.active-field {
	.groupe-btn-active {
		position: absolute;
		top: 8px;
		right: 8px;
	}
	.btn-plus,
	.btn-close {
		width: 12px;
		height: 12px;
		svg {
			width: 12px;
			height: 12px;
			margin: 0;
		}
	}
	.btn-plus {
		margin-right: 4px;
	}
	.btn-close  {
		width: 15px;
		height: 15px;
		svg {
			width: 15px;
			height: 15px;
			margin: 0;
		}
	}
}