@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
}
* {
	margin: 0;
}
*, *::after, *::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a[data-href] {
	cursor: pointer;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
button {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
}
input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	outline: none;
}
svg:not(:root) {
	display: block;
	overflow: visible;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$white: #fff;
$blue: #003e7e;
$hover: #0b549e;
$active: #012e5b;
$float: #f4f8fc;
$claret: #ab1128;
$red: #e51836;
$grey: #3c454e;
$yellow: #fec601;
$yellow2: #fecc1a;
$yellow3: #ffdc5e;
$yellow4: #e7b70e;
$textblue: #3b4b5b;
$blueGrey: #416d98;
$headbox: #ff7287;
$black: #000000;
$pink: #e51836;
$pink-hover: #cd1530;
$pink-active: #ab1128;
$table-border: #e9e9e9;
$text-admin: #3c3d41;
body {
	background: #f2f2f2;
}
.wrapper {
	width: 100%;
	@include clearfix;
}
.container {
	max-width: 1157px;
	margin: 0 auto;
}
.ui-tooltip {
	padding: 4px 7px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	box-shadow: 1px 1.732px 10px 0px rgba( 35, 38, 39, 0.14);
}
.ui-widget-content {
	background: #fff;
	color: $text-admin;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.btn-ico {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	transition: fill 0.3s ease;
	&:hover {
		span {
			use {
				fill: $blue;
			}
		}
	}
	&.btn-preview {
		span {
			svg {
				width: 22px;
				height: 22px;
				margin: 14px auto;
			}
		}
	}
	span {
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	    text-align: center;
	    svg {
	    	width: 14px;
	    	height: 14px;
	    	margin: 17.5px auto;
	    }
	    use {
	    	fill: #a9a9a9;
	    }
	}
}
.inline-select {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.btn {
		min-width: 100px;
		display: inline-block;
	    padding: 9px 12px;
	    margin-bottom: 0;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    touch-action: manipulation;
	    cursor: pointer;
	    user-select: none;
	    border: 1px solid #dbe3eb;
	    border-radius: 5px;
	    background: #fff;
	    transition: background 0.3s ease, color 0.3s ease;
	    &.active-btn-inline {
	    	background: $blue;
	    	border-color: $blue;
	    	color: #fff;
	    }
	}
	& > .btn {
		position: relative;
		float: left;
		&:first-child:not(:last-child) {
		    border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		}
	}
	& > .btn:last-child:not(:first-child) {
	    border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
	}
	.btn+.btn {
		margin-left: -1px;
	}
	& > .btn:not(:first-child):not(:last-child) {
	    border-radius: 0;
	}
}
.tools-list {
	display: inline-block;
	position: absolute;
	white-space: nowrap;
	font-size: 0;
	top: 50%;
	right: 0;
	transform: translate3d(0, -50%, 0);
}
.btn-type1,
.btn-type2 {
	min-width: 140px;
	border-radius: 20px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    height: 34px;
    transition: background 0.3s ease, color 0.3s ease;
}
.btn-type1 {
	border: 1px solid #ddd;
	color: #3c3d41;
	&:hover {
		background: $blue;
		color: #fff;
	}
}
.btn-type2 {
	background: $blue;
	color: #fff;
	&:hover {
		background: $hover;
	}
}
.btn-with-ico {
	border-color: $blue;
	color: $blue;
	&:hover {
		.icon {
			use {
				fill: #fff;
			}
		}
	}
	.icon {
		display: inline-block;
		margin-right: 10px;
		svg {
			height: 15px;
			width: 15px;
			margin-bottom: -4px;
		}
		use {
			transition: fill 0.3s ease;
			fill: $blue;
		}
	}
}
.searcher {
	input[type="text"] {
		width: 309px;
		height: 34px;
		border: 1px solid #ddd;
		border-radius: 20px;
		color: #3c3d41;
		box-shadow: inset 0 3px 7px rgba(35, 38, 39, 0.1);
		background: #fff;
		padding: 0 20px 0 36px;
		&:-ms-input-placeholder,
		&::-moz-placeholder,
		&::-webkit-input-placeholder {
			color: #c3c3c3;
		}
	}
	span{
		position: relative;
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 20px;
			height: 20px;
			top: 50%;
			left: 12px;
			transform: translate3d(0, -50%, 0);
			background: url('../img/svg/search-admin.svg') 0 0 no-repeat;
			background-size: contain;
		}
	}
}
.subtools {
	width: 100%;
	height: 76px;
	padding: 21px 0;
	@include clearfix;
	& > div {
		margin-right: 18px;
		float: left;
		vertical-align: middle;
		&:last-of-type {
			margin-right: 0;
			&.searcher {
				float: right;
			}
			&.active-block {
				float: right;
			}
		}
	}
}
.content {
	padding-bottom: 40px;
	table {
		width: 100%;
		background: #fff;
		margin-bottom: 40px;
		border-collapse: collapse;
		tr:not(.header):hover {
			background: #f2f2f2;
		}
		tr {
			td:nth-of-type(2) {
				position: relative;
			}
		}
	}
	.searcher + .select-group {
		.ui-widget {
			min-width: 230px;
		}
	}
	.sidebar {
		float: left;
		width: 165px;
		background: #fff;
		.sidebar-menu {
			display: block;
			ul > li {
				height: 48px;
				border-bottom: 1px solid #dbe3eb;
				&:last-of-type {
					border-bottom: none;
				}
				a {
					color: #000;
					display: block;
					line-height: 48px;
					text-align: center;
					transition: background 0.3s ease, color 0.3s ease;
					&.active-filter {
						background: $blue;
						color: #fff;
					}
				}
			}
		}
	}
	.age {
		width: 14px;
		height: 14px;
		position: absolute;
		left: -6px;
		top: 50%;
		margin-top: -7px;
		vertical-align: middle;
	    text-align: center;
	    svg {
	    	width: 14px;
	    	height: 14px;
	    }
	    use {
	    	fill: #a9a9a9;
	    }
	}
	table.write-interview {
		tr.header {
			height: 46px;
			background: #dbe3eb;
			color: $text-admin;
			svg {
				height: 16px;
			}
			use {
				fill: $text-admin;
			}
		}
		tr {
			height: 84px;
			&:not(.header) {
				border-bottom: 1px solid #dbe3eb;
			}
			&:nth-of-type(2) {
				height: 90px;
				padding-top: 6px;
			}
			td, th {
				padding: 0;
				&:first-of-type {
					padding-left: 30px;
				}
				&:nth-child(1),
				&:nth-child(1) {
					color: $text-admin;
					width: 111px;
				}
			}
			th {
				padding-left: 30px;
			}
		}
		.time-list {
			padding: 0;
			font-size: 0;
			&.is-deactive {
				opacity: 0.5;
			}
			& > li {
				position: relative;
				font-size: 18px;
				width: 64px;
				height: 42px;
				padding: 0 22px;
				display: inline-block;
				&:hover {
					.minute {
						color: $blue;
					}
				}
				a {
					line-height: 42px;
				}
			}
			.minute {
				color: $text-admin;
			}
			.count {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translate3d(0, -50%, 0);
				width: 18px;
				height: 18px;
				border-radius: 50%;
				background: #1ab316;
				color: #fff;
				&.is-max {
					background: #ff5454;
				}
			}
		}
	}
	table.report,
	table.setting {
		tr {
			border-bottom: 1px solid #dbe3eb;
			height: 60px;
			&.header {
				height: 52px;
				a {
					color: $blue;
				}
			}
			td, th {
				text-align: left;
				&:nth-of-type(n+2):not(:last-of-type) {
					padding-right: 20px;
				}
				&:first-of-type {
					width: 71px;
					position: relative;
				}
				&:nth-of-type(2) {
					padding-left: 26px;
				}
				&:last-of-type {
					&:not(:nth-of-type(2)) {
						width: 569px;
					}
				}
			}
			td {
				a:not(.btn):not(.aria) {
					color: $blue;
				}
				&:last-of-type {
					position: relative;
					padding-right: 50px;
					.btn-type1 {
						float: right;
					}
				}
				color: #000;
			}
		}
		&.report-archive {
			tr {
				td, th {
					&:nth-of-type(2) {
						width: 414px;
					}
					&:last-of-type {
						width: 339px;
						padding-right: 150px;
					}
				}
			}
		}
	}
	table.setting {
		float: right;
		width: 976px;
		&.comments {
			tr {
				td, th {
					&:last-of-type {
						width: 290px;
					}
				}
			}
		}
		tr {
			td, th {
				&:nth-of-type(2) {
					padding-left: 0;
				}
			}
		}
	}
	.sort-tool-table {
		th:not(.check-elem) {
			.arrow-sort {
				display: inline-block;
				svg {
					height: 15px;
					width: 15px;
					margin-bottom: -4px;
				}
				use {
					fill: $blue;
				}
			}
		}
	}
	input[type="checkbox"] {
		position: absolute;
	    left: 50%;
	    top: 50%;
		transform: translate3d(-50%, -50%, 0);
	    margin: 0;
	    padding: 0;
	    opacity: 0;
	    outline: none;
	    border: none;
	    z-index: 2;
	    & + label {
	    	display: block;
	    	position: relative;
	    	width: 16px;
	    	height: 16px;
	    	margin: 0 auto;
	    }
	    & + label:focus,
	    & + label:active {
			outline: none;
			border: none;
	    }
	    & + label:before,
	    & + label:after {
	    	content: '';
    	    position: absolute;
    	    left: 0;
    	    top: 50%;
    	    width: 16px;
    	    height: 16px;
    	    margin-top: -8px; 
    	    animation: cd-bounce 0.3s;
	    }
	    & + label:before {
			display: block;
			border: 1px solid #dbe3eb;
			box-shadow: inset 0 3px 7px rgba(35, 38, 39, 0.1);
	    }
	    & + label:after {
			background-image: url('../img/svg/check.svg');
    	    background-position: center center;
    	    background-repeat: no-repeat;
    	    display: none;
	    }
		&:checked + label:after {
			display: block;
		}
	}
}
.row {
	width: 100%;
	height: 71px;
	padding: 0 64px;
	@include clearfix;
	&.general {
		background: $yellow;
		.tabs-menu,
		.logo,
		.user-profile,
		.user-exit {
			height: 100%;
			float: left;
		}
		.user-profile,
		.user-exit {
			float: right;
		}
		.logo {
			z-index: 8;
			display: table;
			.fill {
				fill: $blue;
			}
			a {
				display: table-cell;
				vertical-align: middle;
				width: 176px;
				height: 48px;
			}
		}
		nav.tabs-menu {
			padding: 0 44px;
			ul {
				height: 100%;
				white-space: nowrap;
				font-size: 0;
				& > li {
					display: inline-block;
					padding-right: 42px;
					&:last-of-type {
						padding-right: 0;
					}
					a {
						color: #000;
						display: inline-block;
						line-height: 3.9445;
						&.is-active-tab {
							position: relative;
							&:after {
								content: '';
								width: 100%;
								height: 3px;
								background: $blue;
								position: absolute;
								bottom: 0;
								left: 0;
							}
						}
					}
				}
			}
		}
		.user-profile {
			a {
				display: table;
				width: 100%;
				height: 100%;
			}
			.user-avatar {
				width: 25px;
				height: 22px;
				display: table-cell;
				vertical-align: middle;
				padding-right: 9px;
				use {
					fill: $blue;
				}
			}
			.user-name {
				display: table-cell;
				vertical-align: middle;
				color: $blue;
			}
		}
		.user-exit {
			width: 48px;
			padding-left: 32px;
			display: table;
			.btn-exit {
				width: 100%;
				display: table-cell;
				vertical-align: middle;
				use {
					fill: $blue;
				}
			}
		}
	}
	&.tools {
		background: #fff;
		nav.tabs-category-menu {
			float: left;
		}
		nav.tabs-tools {
			float: right;
			height: 100;
			ul {
				height: 100%;
				white-space: nowrap;
				font-size: 0;
				& > li {
					display: inline-block;
					a {
						display: table;
						width: 78px;
						height: 71px;
					}
					svg {
						margin: 0 auto;
						width: 22px;
					}
					span {
					    display: table-cell;
					    vertical-align: middle;
					    text-align: center;
					    use {
					    	fill: $blue;
					    }
					}
					.is-active-tab {
						background: #f2f2f2;
					}
				}
			}
		}
		nav.tabs-category-menu {
			display: table;
			height: 100%;
			ul {
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				white-space: nowrap;
				font-size: 0;
				& > li {
					display: inline-block;
					padding-right: 11px;
					&:last-of-type {
						padding: 0;
					}
					a {
						color: #000;
						padding: 0 17px;
						display: inline-block;
						line-height: 2.375;
					}
					.is-active-tab {
						border-radius: 20px;
						border: 1px solid #dddddd;
					}
				}
			}
		}
	}
}
.ui-selectmenu-button {
	min-width: 180px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #3c3d41;
    box-shadow: inset 0 3px 7px rgba(#000, 0.1);
    background: #fff;
    &:focus {
    	outline: none;
    }
    &[aria-expanded="true"] {
    	span.ui-icon {
    		transform: rotate(180deg);
        	transform-origin: 50% 50%;
    	}
    }
    span.ui-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        background: url('../img/svg/down.svg') 0 0 no-repeat;
        width: 12px;
        height: 7px;
        margin-top: -3.5px;
        background-size: contain;
        transition: transform 0.3s ease;
    }
    span.ui-selectmenu-text {
    	height: 32px;
        text-align: left;
        padding: 9px 30px 9px 15px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    .ui-menu {
    	padding: 13px 30px;
    	box-shadow: 1px 1.73px 10px 0 rgba(35,38,39,.14);
        overflow: auto;
        overflow-x: hidden;;
        margin: 7px 0 0;
        display: block;
        outline: 0;
        .ui-menu-item {
        	line-height: 28px;
            position: relative;
            margin: 0;
            padding: 3px 1em 3px .4em;
            cursor: pointer;
            min-height: 0;
        }
    }
}
.ui-selectmenu-open {
    display: block;
}
.header {
	.tools {
		.active-block {
			height: 100%;
			display: table;
			float: right;
			@include clearfix;
			.btn-setting  {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}

.btn-with-ico {
	&:hover {
		.icon {
			use {
				fill: $blue;
			}
		}
	}
	.icon {
		svg {
			width: 18px;
			height: 18px;
		}
	}
}
.btn-type1.btn-with-ico {
	&:hover {
		.icon {
			use {
				fill: #fff;
			}
		}
	}
	svg {
		width: 15px;
		height: 15px;
		margin-bottom: -4.4px;
	}
}
.page-group {
	width: 100%;
	height: 59px;
	padding-right: 20px;
	background: #fff;
	clear: both;
	.page-list {
		float: left;
		height: 100%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
		font-size: 0;
		.btn {
			min-width: 61px;
			height: 100%;
			display: inline-block;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    touch-action: manipulation;
		    cursor: pointer;
		    border-left: 1px solid #dbe3eb;
		    background: #fff;
		    transition: background 0.3s ease, color 0.3s ease;
		    &.active-btn-page {
		    	background: $blue;
		    	border-color: $blue;
		    	color: #fff;
		    }
		}
		& > .btn:first-of-type:not(:last-of-type) {
	    	border: none;
	    }
	    & > .btn:last-of-type:not(:first-of-type) {
	    	 border-right: 1px solid #dbe3eb;
	    }
		.btn + .btn {
			margin-left: -1px;
		}
	}
	.show-to {
		float: right;
		height: 100%;
		position: relative;
		display: table;
		.select-page {
			display: table-cell;
			vertical-align: middle;

			& > span {
				display: inline-block;
				vertical-align: middle;
				&:first-of-type:not(:last-of-type) {
					margin-right: 16px;
				}
			}
		}
		.ui-selectmenu-button {
			min-width: 70px;
		}
	}
}
.content {
	.container {
		& >.row {
			height: auto;
			padding: 0 22px;
			margin-bottom: 15px;
		}
		min-height: 290px;
		background: #fff;
	}
	& > .title {
		width: 100%;
		height: 76px;
		line-height: 76px;
	}
}
.guid {
	float: left;
	max-width: 470px;
	padding-left: 22px;
	& > li {
		margin-bottom: 16px;
	}
}
.active-field {
	width: 550px;
	margin-right: 71px;
	float: right;
	border: 1px dashed #dbdbdb;
	border-radius: 5px;
	padding: 25px 20px;
	.block {
		max-height: 34px;
	}
	@include clearfix;
	.file-upload-wrapper {
		display: inline-block;
		color: $text-admin;
		@include clearfix;
	}
	.file-upload-button {
		margin-right: 20px;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
	.file-upload-input {
		display: table;
		height: 34px;
		span {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.file-upload-input,
	.file-upload-button {
		float: right;
	}
	.btn:not(.file-upload-button) {
		float: right;
	}
}
.popup-tooltip {
	width: 100%;
	position: fixed;
	bottom: 0;
	min-height: 115px;
	display: none;
	.popup-wrapper {
		box-shadow: 0px 0px 46px 0px rgba(#000, 0.2);
		background: #fff;
		padding: 20px 0;
		transition: transform .3s ease-out;
		transform: translate(0, 115px);
	}
	.popup-inner {
		display: table-cell;
		vertical-align: middle;
		.form {
			position: relative;
			width: 1280px;
			margin: 0 auto;
			.row:first-of-type:last-of-type {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				width: 1280px;
				.info {
					margin-right: 30px;
				}
				a + a {
					margin-left: 20px;
				}
			}		
		}
		.popup-close {
			cursor: pointer;
			width: 25px;
			height: 25px; 
			top: -10px;
			right: 64px;
			position: absolute;
			z-index: 5;
			border: 1px solid #dbdbdb;
			border-radius: 50%;
		}
		.icon_close_svg {
			width: 6px;
			height: 6px;
			margin-top: -2px;
			display: inline-block;
			vertical-align: middle;
			.close_icon {
				width: 6px;
				height: 6px;
				fill: $grey;
				transition: fill 0.3s ease;
			}
		}
	}
	&.in .popup-wrapper {
	    transform: translate(0, 0);
	}
}
.btn-groupe {
	position: relative;
	display: inline-block;
	.btn-ico {
		z-index: 0;
	}
	.dropdown-menu {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.3s ease-in, opacity 0.3s ease;
		bottom: 55px;
		right: -20px;
		max-width: 210px;
		box-shadow: 0.5px 0.866px 7px 0px rgba(0, 0, 0, 0.43);
		background: #fff;
		& > li {
			position: relative;
			display: block;
			background: #fff;
			transition: background 0.3s ease;
			&:last-of-type {
				&:after,
				&:before {
					position: absolute;
					bottom: -6px;
					right: 38px;
					width: 14px;
					height: 14px;
					background: #fff;
					box-shadow: 0.5px 0.866px 7px 0px rgba(0, 0, 0, 0.43);
					z-index: -1;
					transition: background 0.3s ease;
					transform: rotate(-45deg);
					content: '';
				}
				&:before {
					box-shadow: none;
					z-index: 1;
				}
			}	
			&:hover {
				background: #f2f2f2;
				&:before,
				&:after {
					background: #f2f2f2;
				}
			}
			a {
				display: block;
				text-align: center;
				padding: 0 20px;
				color: $grey;
				line-height: 47px;
			}
		}
	}
	&.open {
		.dropdown-menu {
			visibility: visible;
			opacity: 1;
		}
	}
}
