@font-face {
		font-family: 'helveticaneuecyritalic';
		src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
		src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
			url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
			url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrlight';
		src: url('../fonts/helveticaneuecyr-light-webfont.eot');
		src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
			url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
			url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrlight_italic';
	src: url('../fonts/helveticaneuecyr-lightitalic-webfont.eot');
	src: url('../fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
		 url('../fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
		 url('../fonts/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrmedium';
		src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
		src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
			url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
			url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrroman';
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
	src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrthin';
	src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
	src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrthin_italic';
	src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot');
	src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrultralight';
	src: url('../fonts/helveticaneuecyr-ultralight_0-webfont.eot');
	src: url('../fonts/helveticaneuecyr-ultralight_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-ultralight_0-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-ultralight_0-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-ultralight_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrultraLtIt';
	src: url('../fonts/helveticaneuecyr-ultralightitalic-webfont.eot');
	src: url('../fonts/helveticaneuecyr-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-ultralightitalic-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-ultralightitalic-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-ultralightitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrbold';
	src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
	src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrbold_italic';
		src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot');
		src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
			url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
			url('../fonts/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrblack';
	src: url('../fonts/helveticaneuecyr-black-webfont.eot');
	src: url('../fonts/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
		url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff'),
		url('../fonts/helveticaneuecyr-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'helveticaneuecyrblack_italic';
		src: url('../fonts/helveticaneuecyr-blackitalic-webfont.eot');
		src: url('../fonts/helveticaneuecyr-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
			url('../fonts/helveticaneuecyr-blackitalic-webfont.woff') format('woff'),
			url('../fonts/helveticaneuecyr-blackitalic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_problack';
	src: url('../fonts/pfagoraslabpro-black_1-webfont.eot');
	src: url('../fonts/pfagoraslabpro-black_1-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pfagoraslabpro-black_1-webfont.woff2') format('woff2'),
		 url('../fonts/pfagoraslabpro-black_1-webfont.woff') format('woff'),
		 url('../fonts/pfagoraslabpro-black_1-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'pf_agora_slab_problack_italic';
	src: url('../fonts/pfagoraslabpro-blackital_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-blackital_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-blackital_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-blackital_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-blackital_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_probold';
	src: url('../fonts/pfagoraslabpro-bold_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-bold_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-bold_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-bold_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_probold_italic';
	src: url('../fonts/pfagoraslabpro-bolditalic_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-bolditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-bolditalic_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-bolditalic_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-bolditalic_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proitalic';
	src: url('../fonts/pfagoraslabpro-italic_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-italic_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-italic_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-italic_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-italic_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_prolight_italic';
	src: url('../fonts/pfagoraslabpro-lightitalic_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-lightitalic_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-lightitalic_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-lightitalic_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-lightitalic_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proMdIt';
	src: url('../fonts/pfagoraslabpro-meditalic_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-meditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-meditalic_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-meditalic_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-meditalic_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_promedium';
	src: url('../fonts/pfagoraslabpro-medium_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-medium_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-medium_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-medium_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proregular';
	src: url('../fonts/pfagoraslabpro-reg_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-reg_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-reg_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-reg_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-reg_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_prothin';
	src: url('../fonts/pfagoraslabpro-thin_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-thin_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-thin_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-thin_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proultraBlkIt';
	src: url('../fonts/pfagoraslabpro-ublackit_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-ublackit_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-ublackit_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-ublackit_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-ublackit_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proultrablack';
	src: url('../fonts/pfagoraslabpro-ultrablack_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-ultrablack_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-ultrablack_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-ultrablack_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-ultrablack_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proextrathin';
	src: url('../fonts/pfagoraslabpro-xthin_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-xthin_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-xthin_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-xthin_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-xthin_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pf_agora_slab_proXThIt';
	src: url('../fonts/pfagoraslabpro-xthinital_0-webfont.eot');
	src: url('../fonts/pfagoraslabpro-xthinital_0-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pfagoraslabpro-xthinital_0-webfont.woff2') format('woff2'),
		url('../fonts/pfagoraslabpro-xthinital_0-webfont.woff') format('woff'),
		url('../fonts/pfagoraslabpro-xthinital_0-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
$HelveticaItalic: 'helveticaneuecyritalic', Arial, sans-serif;
$HelveticaLight: 'helveticaneuecyrlight', Arial, sans-serif;
$HelveticaLightItalic: 'helveticaneuecyrlight_italic', Arial, sans-serif;
$HelveticaMedium: 'helveticaneuecyrmedium', Arial, sans-serif;
$HelveticaRoman: 'helveticaneuecyrroman', Arial, sans-serif;
$HelveticaThin: 'helveticaneuecyrthin', Arial, sans-serif;
$HelveticaThinItalic: 'helveticaneuecyrthin_italic', Arial, sans-serif;
$HelveticaUltraLight: 'helveticaneuecyrultralight', Arial, sans-serif;
$HelveticaUltraLightItalic: 'helveticaneuecyrultraLtIt', Arial, sans-serif;
$HelveticaBold: 'helveticaneuecyrbold', Arial, sans-serif;
$HelveticaBoldItalic: 'helveticaneuecyrbold_italic', Arial, sans-serif;
$HelveticaBlack: 'helveticaneuecyrblack', Arial, sans-serif;
$HelveticaBlackItalic: 'helveticaneuecyrblack_italic', Arial, sans-serif;
$AgoraProBlack: 'pf_agora_slab_problack', Arial, sans-serif;
$AgoraProBlackItalic: 'pf_agora_slab_problack_italic', Arial, sans-serif;
$AgoraProBold: 'pf_agora_slab_probold', Arial, sans-serif;
$AgoraProBoldItalic: 'pf_agora_slab_probold_italic', Arial, sans-serif;
$AgoraProItalic: 'pf_agora_slab_proitalic', Arial, sans-serif;
$AgoraProLightItalic: 'pf_agora_slab_prolight_italic', Arial, sans-serif;
$AgoraProMdeiumItalic: 'pf_agora_slab_proMdIt', Arial, sans-serif;
$AgoraProMedium: 'pf_agora_slab_promedium', Arial, sans-serif;
$AgoraPro: 'pf_agora_slab_proregular', Arial, sans-serif;
$AgoraProThin: 'pf_agora_slab_prothin', Arial, sans-serif;
$AgoraProUltraBlackIt: 'pf_agora_slab_proultraBlkIt', Arial, sans-serif;
$AgoraProUltraBlack: 'pf_agora_slab_proultrablack', Arial, sans-serif;
$AgoraProExtraThin: 'pf_agora_slab_proextrathin', Arial, sans-serif;
$AgoraProExtraThinItalic: 'pf_agora_slab_proXThIt', Arial, sans-serif;

html {
	text-size-adjust: 100%;
	font-size: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}
.ui-widget {
	font: 12px/1.5 $HelveticaMedium;
	letter-spacing: 0.01em;
}
.sidebar {
	.sidebar-menu {
		font: 14px $HelveticaRoman;
		letter-spacing: 0.01em;
		a {
			text-decoration: none;
		}
	}
}
.time-list {
	.minute {
		font: 18px/1 $HelveticaRoman;
		text-transform: uppercase;
		letter-spacing: 0.01em;
	}
	.count {
		font: 12px/1.5 $HelveticaMedium;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		text-align: center;
	}
}
.card-interview {
	.column {
		.left-side {
			font: 30px/2.8 $HelveticaMedium;
			text-transform: uppercase;
		}
	}
	.header {
		font: 12px/1.5 $HelveticaBold;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		text-align: center;
	}
}
.content {
	table.write-interview {
		tr.header {
			th {
				font: 12px/1.5 $HelveticaBold;
				text-transform: uppercase;
				text-align: left;
			}
		}
		tr {
			td:first-of-type {
				font: 30px/2.8 $HelveticaMedium;
				text-transform: uppercase;
			}
		}
	}
	table.report,
	table.setting {
		tr.header {
			th {
				font: 13px/1 $HelveticaMedium;
				text-align: left;
			}
		}
		tr:not(.header) {
			td {
				font: 14px/2.1429 $HelveticaRoman;
				a:not(.btn):not(.aria) {
					text-decoration: underline;
				}
			}
		}
	}
}
.btn-inline {
	font: 14px/1 $HelveticaRoman;
	letter-spacing: 0.01em;
}
.searcher {
	input[type="text"],
	label {
		font: 13px $HelveticaRoman;
	}
}
.btn-type1,
.btn-type2 {
	span {
		font: 10px/3.1 $HelveticaBold;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
}
.btn-type2 {
	span {
		line-height: 3.3;
	}
}
.row {
	nav.tabs-menu {
		li {
			a {
				font: 18px/0.6667em $HelveticaRoman;
				letter-spacing: 0.01em;
				&.is-active-tab {
					font-family: $HelveticaMedium;
				}
			}
		}
	}
	.user-profile {
		.user-name {
			font: 14px/2.1429 $HelveticaRoman;
		}
	}
}
nav.tabs-category-menu {
	li {
		a {
			font: 16px/0.75 $HelveticaRoman;
			letter-spacing: 0.01em;
		}
		&.active a:not(.btn) {
			font-family: $HelveticaMedium;
		}
	}
}
.fancy-select .trigger {
	font: 14px/1 $HelveticaRoman;
	letter-spacing: 0.01em;
	& + ul.options li {
		font: 14px/2 $HelveticaRoman;
		&.selected{
			font-family: $HelveticaBold;
		}
	}
}
.add-teg {
	.row {
		&.inline-row {
			.field {
				label {
					span {
						font: 14px $HelveticaRoman;
						letter-spacing: 0.01em;
					}
				}
			}
		}
	}
}
.btn-with-ico:not([class*="btn-type"]) {
	font: 14px/1 $HelveticaRoman;
	text-decoration: underline;
}
.page-group {
	.btn {
		span {
			font: 15px/1 $HelveticaMedium;
			letter-spacing: 0.01em;
		}
	}
	.select-page {
		span {
			font: 14px/1 $HelveticaRoman;
		}
	}
}
.title {
	font: 24px/1 $HelveticaMedium;
}
.guid {
	font: 14px/1 $HelveticaRoman;
	letter-spacing: 0.02em;
	list-style: decimal;
	& > li {
		.btn-with-ico {
			text-decoration: underline;
		}
	}
}
.file-upload-input {
	font: 13px/1.8462 $HelveticaRoman;
	letter-spacing: 0.02em;
}
.popup-inner {
	& > .form > .row {
		.info {
			font: 16px/1.875 $HelveticaRoman;
		}
	}
	.form {
		.title-form {
			font: 42px $HelveticaRoman;
			letter-spacing: -0.02em;
		}
		.title__lvl-2 {
			font: 24px $HelveticaRoman;
			letter-spacing: -0.02em;
		}
	}
	.btn-type3 {
		font: 12px/1.2 $HelveticaBold;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}
	.title-tooltip {
		font: 14px $HelveticaBold;
		letter-spacing: 0.01em;
		text-transform: uppercase;
	}
	.row {
		.name {
			font: 14px $HelveticaMedium;
		}
		.groupe {
			font: 14px $HelveticaRoman;
			text-align: center;
		}
		.number {
			font: 14px $HelveticaRoman;
		}
		.email {
			a {
				font: 14px $HelveticaRoman;
				text-decoration: underline;
			}
		}
		.row-footer {
			.info {
				font: 13px $HelveticaRoman;
			}
			.value {
				font: 13px $HelveticaRoman;
			}
		}
	}
	.input__label-content {
		font: 13px/1 $HelveticaRoman;
		letter-spacing: 0.05em;
	}
	.input__label-differenter {
		font: 18px/1.333 $HelveticaRoman;
		letter-spacing: 0.01em;
	}
	.input__field {
		font: 14px $HelveticaRoman;
	}
	.active-field {
		.left-column {
			&:after {
				font: 18px $HelveticaRoman;
				letter-spacing: 0.01em;
				text-transform: uppercase;
			}
		}
	}
}
.btn-groupe {
	.dropdown-menu {
		& > li {
			a {
				font: 10px $HelveticaBold;
				text-decoration: none;
				letter-spacing: 0.2em;
				text-transform: uppercase;
			}
		}
	}	
}
.address-write {
	font: 18px $HelveticaMedium;
	letter-spacing: 0.01em;
}
.field-person-data span{
	font: 14px $HelveticaRoman;
}
.hour-row {
	font: 30px $HelveticaMedium;
	text-transform: uppercase;
}
.minute-row {
	font: 18px $HelveticaLight; 
	text-transform: uppercase;
	letter-spacing: 0.01em;
}
.input__field-temp {
	font: 14px/33px $HelveticaRoman;
	letter-spacing: 0.01em;
}
.popup-form {
	.places-field {
		.row-only_read {
			.field-only_read {
				.label-only_read {
					font: 13px/1.0769 $HelveticaRoman;
					letter-spacing: 0.05em;
				}
				.input-only_read {
					font: 14px/1 $HelveticaRoman;
					letter-spacing: 0.01em;
				}
			}
		}
	}
}
.content {
	.container-with-form {
		.form {
			.title-form {
				font: 42px $HelveticaRoman;
				letter-spacing: -0.02em;
			}
			.title__lvl-2 {
				font: 24px $HelveticaRoman;
				letter-spacing: -0.02em;
			}
			.input__label-content {
				font: 13px/1.0769 $HelveticaRoman;
				letter-spacing: 0.05em;
			}
			.input__field {
				font: 14px/1 $HelveticaRoman;
				letter-spacing: 0.01em;
			}
		}
	}
}
.btn-type4 {
	span {
		font: 14px/2.2143 $HelveticaRoman;
	    letter-spacing: .01em;
	}
}
.lang {
	a {
		font-family: $HelveticaBlack;
		font-size: 0.8125em;
		&.is-active {
			font-family: $HelveticaRoman;
		}
	}
}
.content-info-board {
	span,
	p {
		font: 13px/1.8465 $HelveticaRoman;
		letter-spacing: 0.02em;
	}
}
.ui-datepicker th {
	span, a, p, em, i, a {
		font: 12px/2.333 $HelveticaMedium;
		letter-spacing: 0.01em;
	}
}
.ui-datepicker td {
	text-align: center;
	span, a, p, em, i, a {
		font: 14px/2.4 $HelveticaMedium;
		letter-spacing: 0.01em;
	}
	
}
.ui-datepicker-title {
	font: 14px/1.0286 $HelveticaRoman;
	letter-spacing: 0.01em;
}
.btn-without-ico {
	font: 13px/1 $HelveticaRoman;
	letter-spacing: 0.01em;
	text-decoration: underline;
}