@font-face {
        font-family: 'helveticaneuecyritalic';
        src: url('../fonts/helveticaneuecyr-italic-webfont.eot');
        src: url('../fonts/helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
            url('../fonts/helveticaneuecyr-italic-webfont.woff') format('woff'),
            url('../fonts/helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight';
        src: url('../fonts/helveticaneuecyr-light-webfont.eot');
        src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
            url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
            url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrlight_italic';
    src: url('../fonts/helveticaneuecyr-lightitalic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrmedium';
        src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
        src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
            url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
            url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrthin_italic';
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrultralight';
    src: url('../fonts/helveticaneuecyr-ultralight_0-webfont.eot');
    src: url('../fonts/helveticaneuecyr-ultralight_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-ultralight_0-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-ultralight_0-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-ultralight_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrultraLtIt';
    src: url('../fonts/helveticaneuecyr-ultralightitalic-webfont.eot');
    src: url('../fonts/helveticaneuecyr-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-ultralightitalic-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-ultralightitalic-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-ultralightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrbold_italic';
        src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot');
        src: url('../fonts/helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
            url('../fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
            url('../fonts/helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrblack';
    src: url('../fonts/helveticaneuecyr-black-webfont.eot');
    src: url('../fonts/helveticaneuecyr-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
        url('../fonts/helveticaneuecyr-black-webfont.woff') format('woff'),
        url('../fonts/helveticaneuecyr-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrblack_italic';
        src: url('../fonts/helveticaneuecyr-blackitalic-webfont.eot');
        src: url('../fonts/helveticaneuecyr-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
            url('../fonts/helveticaneuecyr-blackitalic-webfont.woff') format('woff'),
            url('../fonts/helveticaneuecyr-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_problack';
    src: url('../fonts/pfagoraslabpro-black_1-webfont.eot');
    src: url('../fonts/pfagoraslabpro-black_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfagoraslabpro-black_1-webfont.woff2') format('woff2'),
         url('../fonts/pfagoraslabpro-black_1-webfont.woff') format('woff'),
         url('../fonts/pfagoraslabpro-black_1-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_agora_slab_problack_italic';
    src: url('../fonts/pfagoraslabpro-blackital_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-blackital_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-blackital_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-blackital_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-blackital_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_probold';
    src: url('../fonts/pfagoraslabpro-bold_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-bold_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-bold_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-bold_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_probold_italic';
    src: url('../fonts/pfagoraslabpro-bolditalic_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-bolditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-bolditalic_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-bolditalic_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-bolditalic_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proitalic';
    src: url('../fonts/pfagoraslabpro-italic_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-italic_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-italic_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-italic_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-italic_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_prolight_italic';
    src: url('../fonts/pfagoraslabpro-lightitalic_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-lightitalic_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-lightitalic_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-lightitalic_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-lightitalic_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proMdIt';
    src: url('../fonts/pfagoraslabpro-meditalic_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-meditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-meditalic_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-meditalic_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-meditalic_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_promedium';
    src: url('../fonts/pfagoraslabpro-medium_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-medium_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-medium_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-medium_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proregular';
    src: url('../fonts/pfagoraslabpro-reg_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-reg_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-reg_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-reg_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-reg_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_prothin';
    src: url('../fonts/pfagoraslabpro-thin_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-thin_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-thin_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-thin_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-thin_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proultraBlkIt';
    src: url('../fonts/pfagoraslabpro-ublackit_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-ublackit_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-ublackit_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-ublackit_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-ublackit_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proultrablack';
    src: url('../fonts/pfagoraslabpro-ultrablack_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-ultrablack_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-ultrablack_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-ultrablack_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-ultrablack_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proextrathin';
    src: url('../fonts/pfagoraslabpro-xthin_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-xthin_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-xthin_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-xthin_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-xthin_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pf_agora_slab_proXThIt';
    src: url('../fonts/pfagoraslabpro-xthinital_0-webfont.eot');
    src: url('../fonts/pfagoraslabpro-xthinital_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pfagoraslabpro-xthinital_0-webfont.woff2') format('woff2'),
        url('../fonts/pfagoraslabpro-xthinital_0-webfont.woff') format('woff'),
        url('../fonts/pfagoraslabpro-xthinital_0-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$HelveticaItalic: 'helveticaneuecyritalic', Arial, sans-serif;
$HelveticaLight: 'helveticaneuecyrlight', Arial, sans-serif;
$HelveticaLightItalic: 'helveticaneuecyrlight_italic', Arial, sans-serif;
$HelveticaMedium: 'helveticaneuecyrmedium', Arial, sans-serif;
$HelveticaRoman: 'helveticaneuecyrroman', Arial, sans-serif;
$HelveticaThin: 'helveticaneuecyrthin', Arial, sans-serif;
$HelveticaThinItalic: 'helveticaneuecyrthin_italic', Arial, sans-serif;
$HelveticaUltraLight: 'helveticaneuecyrultralight', Arial, sans-serif;
$HelveticaUltraLightItalic: 'helveticaneuecyrultraLtIt', Arial, sans-serif;
$HelveticaBold: 'helveticaneuecyrbold', Arial, sans-serif;
$HelveticaBoldItalic: 'helveticaneuecyrbold_italic', Arial, sans-serif;
$HelveticaBlack: 'helveticaneuecyrblack', Arial, sans-serif;
$HelveticaBlackItalic: 'helveticaneuecyrblack_italic', Arial, sans-serif;
$AgoraProBlack: 'pf_agora_slab_problack', Arial, sans-serif;
$AgoraProBlackItalic: 'pf_agora_slab_problack_italic', Arial, sans-serif;
$AgoraProBold: 'pf_agora_slab_probold', Arial, sans-serif;
$AgoraProBoldItalic: 'pf_agora_slab_probold_italic', Arial, sans-serif;
$AgoraProItalic: 'pf_agora_slab_proitalic', Arial, sans-serif;
$AgoraProLightItalic: 'pf_agora_slab_prolight_italic', Arial, sans-serif;
$AgoraProMdeiumItalic: 'pf_agora_slab_proMdIt', Arial, sans-serif;
$AgoraProMedium: 'pf_agora_slab_promedium', Arial, sans-serif;
$AgoraPro: 'pf_agora_slab_proregular', Arial, sans-serif;
$AgoraProThin: 'pf_agora_slab_prothin', Arial, sans-serif;
$AgoraProUltraBlackIt: 'pf_agora_slab_proultraBlkIt', Arial, sans-serif;
$AgoraProUltraBlack: 'pf_agora_slab_proultrablack', Arial, sans-serif;
$AgoraProExtraThin: 'pf_agora_slab_proextrathin', Arial, sans-serif;
$AgoraProExtraThinItalic: 'pf_agora_slab_proXThIt', Arial, sans-serif;

html {
    text-size-adjust: 100%;
    font-size: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}
.btn__cart {
    .btn-menu {
        span { 
            font-family: $AgoraProBlack;
            font-size: 1em; /*16px / 16px*/
            line-height: 1.2;
        }
    }
}
.location {
    span {
        font-family: $AgoraProBlack;
        font-size: 1em; /*16px / 16px*/
        line-height: 1.2;
    }
}
a[class*="btn__type"] {
    span {
        font-family: $HelveticaBold;
    }
}
button[class*="btn__type"] {
    span {
        font-family: $HelveticaBold;
    }
}
.lang {
    a {
        font-family: $HelveticaBlack;
        font-size: 0.8125em; //13px / 16px;
        &.active {
            font-family: $HelveticaRoman;
        }
    }
}
.menu-tablet {
    .lang {
        a {
            font-family: $HelveticaBlack;
            font-size: 1.5em; //24px / 16px;
            &.active {
                font-family: $HelveticaRoman;
            }
        }
    }
}
.footer {
    .all__centres {
        a {
            font-family: $AgoraProBlack;
            font-weight: bold;
            font-size: 1.25em; //20px /16px
            line-height: 1.2;
        }
    }
    .location {
        .contacts {
            p {
                font-family: $AgoraProBlack;
                font-size: 1em; //16px /16px
            }
            .phone {
                a {
                    font-family: $AgoraProBold;
                    font-size: 1em; //16px /16px
                }
            }
        }
    }
    .copyright {
        font-family: $HelveticaRoman;
        font-size: 0.875em; //14px / 16px
    }
    .developers {
        font-family: $HelveticaRoman;
        font-size: 0.875em; //14px / 16px
        a {
            font-family: $AgoraProBlack;
        }
    }
}
.nav {
    .menu__footer-big {
        a {
            font-family: $AgoraProBlack;
            font-size: 3em; //48px / 16px
        }
    }
    .menu__footer-small {
        a {
            font-family: $AgoraProBlack;
            font-size: 1em; //16px /16px
        }
    }
}
.close__menu  {
    span {
        font-family: $AgoraProBlack;
    }
}
.search__row {
    .actionInput {
        font-family: $AgoraProBlack;
    }
}
.mail {
    font-family: $AgoraProBold;
}
.scroll__top {
    font-family: $HelveticaBold;
    font-size: 0.75em; //12px / 16px
}
.main__menu {
    a {
        font-family: $AgoraProUltraBlack;
        font-size: 1.25em; //20px / 16
    }
}
.sub__menu-item {
    .title {
        font-family: $AgoraProBold;        
    }
    a {
        font-family: $AgoraProBold;
    }
}
.popup__menu {
    .nav {
        ul.menu__footer-big {
            a {
                font-size: 3.75em; //60px / 16px
            }
        }
        ul.menu__footer-small {
            a {
                font-size: 1em; //16px / 16px
            }
        }
    }
}
h1 {
    font-family: $AgoraProBlack;
}
a[class*="btn__type"] {
    span {
        font-size: 0.8125em; /*13px / 16px*/
    }
}
button[class*="btn__type"] {
    span {
        font-size: 0.8125em; /*13px / 16px*/
    }
}
.tabs__container {
    .tab__nav {
        a {
            font-family: $AgoraProBlack;
            font-size: 3.75em; //60px / 16px
        }
    }
    .tab__cont {
        .nav {
            ul.menu__footer-big {
                a {
                    font-size: 3em; // 48px / 16px

                }
            }
            ul.menu__footer-small {
                a {
                    font-size: 1.875em; // 30px / 16px
                    font-family: $AgoraProBold;
                }
            }
        }
    }
}
.touch-nav {
    a {
        font-family: $AgoraProBlack;
        font-size: 2.875em; //46px / 16px
    }
    .touch-nav__back {
        span {
            font-size: 1.875em; //30px / 16px
            font-family: $HelveticaBold;
        }
    }
}

.banner {
    .banner-title {
        font: 2.375em/1.2634 $AgoraProBlack;
    }
    .banner-slider {
        .slide__bottom {
            font: 1.25em/1.5 $AgoraProBold;
        }
    }
}
.blocks-links {
    ul > li > a:not(.btn__enroll) {
        font: 1.25em/1.5 $AgoraProBold;
    }
}
div[class*="col"] .title {
    font: 2.375em/1.1579 $AgoraProBlack;
}
.content__block {
    .description {
        font: 1.25em/1.5 $AgoraProBold;
    }
    .categories__change {
        dd {
            font: 1.125em/1.6667 $AgoraProBold;
        }
        dt {
            font: 1.25em/1.5 $AgoraProUltraBlack;
        }
        a {
            text-decoration: none;
        }
    }
    .relation {
        font: 1.25em/1.5 $AgoraProBold;
    }
    .result {
        font: 1.75em/1.2857 $AgoraProBoldItalic;
        text-align: center;
        letter-spacing: 0.03em;
    }
    p {
        font: 1em/1.625 $HelveticaRoman;
    }
}

.title__form {
    font-family: $AgoraProBlack;
    font-size: 38px; // 38px / 16px = 2.375em
}
.form {
    .field {
        .counter {
            span {
                font-family: $HelveticaMedium;
                font-size: 13px; // 13px / 16px = 0.8125em
            }
        }
        .input__field {
            font-family: $HelveticaBold;
            font-size: 13px; // 13px / 16px = 0.8125em
        }
        .input__label {
            &::after {
                font-family: $HelveticaBold;
                font-size: 18px; // 18px / 16px = 1.125em
            }
        }
        .input__label-content {
            font-family: $HelveticaBold;
            font-size: 13px; //13px / 16px = 0.8125em
        }
    }
    p {
        font-family: $HelveticaRoman;
        font-size: 16px; // 16px / 16px = 1em
    }
    .title__lvl-2 {
        font-family: $AgoraProBlack;
        font-size: 20px; // 20px / 16px = 1.25em
    }
}
.popup__success {
    .popup__close {
        span {
            font-size: 12px; //12px / 16px = 0.75em
            font-family: $HelveticaBold;
        }
    }
}
.content__section {
    font: 1.25em/1.5 $AgoraProBold;
    a:not(.btn__enroll) {
        font-family: $AgoraProUltraBlack;
    }
}
.test__box {
    .content__box {
        font: 1.25em/1.5 $AgoraProBlack;
    }
    .header__box {
        font: 1em/1.875 $HelveticaMedium;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    &.small {
        .content__box {
            font: 1.75em/1.2857 $AgoraProBold;
        }
    }
}
@media screen and (max-width: 1599px) {
    a[class*="btn__type"] {
        span {
            font-size: 0.75em; /*12px / 16px*/
        }
    }
    button[class*="btn__type"] {
        span {
            font-size: 0.75em; /*12px / 16px*/
        }
    }
    .popup__menu {
        .nav {
            ul.menu__footer-big {
                a {
                    font-size: 2.5em; //40px / 16px
                }
            }
            ul.menu__footer-small {
                a {
                    font-size: 1em; //16px / 16px
                }
            }
        }
    }
}
@media screen and (max-width: 1279px) {
    a[class*="btn__type"] {
        span {
            font-size: 0.6875em; /*11px / 16px*/
        }
    }
    button[class*="btn__type"] {
        span {
            font-size: 0.6875em; /*11px / 16px*/
        }
    }
    .footer {
        .big__nav {
            a {
                font-size: 2.375em; //38px / 16px
            }
        }
    }
    .main__menu {
        a {
            font-size: 1.125em; //18px / 16
        }
    }
    .btn__cart {
        .btn-menu {
            span { 
                font-size: 0.9375em; /*15px / 16px*/
            }
        }
    }
    .location {
        span {
            font-size: 0.9375em; /*15px / 16px*/
        }
    }
    .nav {
        .menu__footer-big {
            a {
                font-size: 2.375em; //38px / 16px
            }
        }
        .menu__footer-small {
            a {
                font-size: 0.9375em; //15px /16px
            }
        }
    }
}
@media screen and (max-width: 1023px) {
    .location {
        span {
            font-size: 0.8125em; /*13px / 16px*/
        }
    }
    .main__menu {
        a {
            font-size: 1em; //16px / 16
        }
    }
    
}
@media screen and (max-width: 767px) {
    .main__menu {
        a {
            font-size: 1.25em; //20px / 16
        }
    }
    .location {
        span {
            font-size: 1.125em; /*18px / 16px*/
        }
    }
    .nav {
        ul.menu__footer-small {
            a {
                font-size: 1.5em; //24px /16px
            }
        }
    }
    .main__menu {
        a {
            font-size: 1.25em; //20px / 16
            font-family: $AgoraProBlack;
        }
    }
}
@media screen and (max-width: 749px) {
    body {
        font-size: 70%;
    }
    .title__form {
        font-family: $AgoraProBlack;
        font-size: 26px; // 38px / 16px = 1.625em
    }
}
@media screen and (max-width: 479px) {
    body {
        font-size: 45%;
    }
}